{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_head %}    
<meta name="viewport" content="width=device-width, initial-scale=1"/>  
<!-- Compiled and minified CSS -->
<style type="text/css">
  body{
    background-color: #ededed !important;
  }
  .card{      
    width: 70%;
    margin:8px auto;      
  }

  .card .titulo{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: 25px;
  }

  .fa{
    font-size: 80px;
  }

  a.facebook{
    background-color: #3a5795;
  }

  a.twitter{
    background-color: #55acee;
  }

  a.google{
    background-color: #dd4b38;
  }

  a.facebook:hover{
    background-color: #062361;      
  }
  a.twitter:hover 
  {
    background-color: #118EED;      
  }

  a.google:hover
  {
    background-color: #DA1900;      
  }    

  .social a{
    margin: 0 12px;
  }

  .btn[type="submit"]{
    margin-top:15px;
    display: block;      
  }
  nav .nav-wrapper{
    padding: 0 30px;
  }

  i.fa{
    padding-top: 6px;
  }

  a.socialaccount_provider{
    border-radius: 100%;
    width: 50px;
    height: 50px;      
    padding: 0;
  }

  .socialaccount_providers li{
    display: inline-block;
  }

  .input-field{
    margin-top: 0;
  }

  form .input-field label{
    margin-left: -10px;
  }

  form .alert-error{
    text-align: center;
    margin: 15px;
    color:red;
  }

</style>    
{% endblock %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="container">
      <div class="col s3"></div>    
      <div class="col s6">
        <h1 class="blue-grey-text titulo">{% trans "Sign In" %}</h1>    
        
        <div id="login" class="col s6"> 
          <div class="col s6 center-align social">   
            {% if socialaccount.providers %}                
            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>                
            </div>

            {% include "socialaccount/snippets/login_extra.html" %}            
            {% endif %}              
          </div>
          <div class="row">
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}   
              {% if form.errors %}
              {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-error">
                <strong>{{ error }}</strong>
              </div>
              {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endif %}             
              <div class="input-field col s12">
                <div class="row">
                  {{form.login}}
                  <label for="login">Email</label>
                </div>
              </div>
              <div class="input-field col s12">     
                <div class="row">     
                  {{form.password}}
                  <label for="password">Contraseña</label>
                </div>
              </div> 
              <div class="input-field col s12">     
                <div class="row">     
                  {{form.remember}}
                  <label for="id_remember">Recordarme</label>
                </div>
              </div>         
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <button class="primaryAction btn waves-effect waves-light" type="submit">{% trans "Sign In" %}<i class="mdi-content-send right"></i></button>
            </form>
            <p>Si aún no tiene una cuenta, <a href="{{ signup_url }}">regístrese aquí</a></p>
          </div>                      
        </div>          
      </div>
      <div class="col s2"></div>
    </div>
  </div>
</div>
{% endblock%}

{% block extra_body %}
<script type="text/javascript">
  $(function (){
    $("input").removeAttr("Placeholder");
  });      
</script>
  {% endblock %}
