{% extends "base.html" %}
{% load i18n %}


{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block extra_head %} 
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<style type="text/css">
	body{
		background-color: #ededed !important;
	}

	.card{		
		width: 70%;
		margin: 8px auto;
	}

	.fa{
		font-size: 80px;
	}

	a.facebook{
		background-color: #3a5795;
	}

	a.twitter{
		background-color: #55acee;
	}

	a.google{
		background-color: #dd4b38;
	}

	a.facebook:hover{
		background-color: #062361;      
	}
	a.twitter:hover 
	{
		background-color: #118EED;      
	}

	a.google:hover
	{
		background-color: #DA1900;      
	}

	.social{
		margin:20px 0;
	}

	.social a{
		margin: 0 15px;
	}
	.btn[type="submit"]{
		margin-top:15px;
		display: block;      
	}
	nav .nav-wrapper{
		padding: 0 30px;
	}

	i.fa{
		padding-top: 6px;
	}

	a.socialaccount_provider{
		border-radius: 100%;
		width: 50px;
		height: 50px;      
		padding: 0;
	}

	.socialaccount_providers li{
		display: inline-block;
	}

	.card .titulo{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .8px;
		font-size: 25px;
	}
	
	form .alert-error{
		text-align: left;
		margin: 15px;
		color:red;
	}

	i.fa-bug{
		font-size: 14px;
		margin-right: 10px;
	}

</style>  
{%endblock%}
{% block body %}
<div class="container">
	<div class="card">
		<div class="container">
			<div class="col s3"></div>    
			<div class="col s6">
				<h1 class="blue-grey-text titulo">{% trans "Sign Up" %}</h1>    
				
				<div id="login" class="col s6 row">            					
					<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
						{% csrf_token %}	
						{% if form.errors %}
						{% for field in form %}
						{% for error in field.errors %}
						<div class="alert alert-error">
							<i class="fa fa-bug"></i><strong>{{ error }}</strong>
						</div>
						{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-error">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}             							
						<div class="input-field col s12">     								    
							{{form.username}}
							<label for="username">Usuario</label>							
						</div>   
						<div class="input-field col s12">     								
							{{form.email}}
							<label for="email">Email</label>								
						</div>        
						<div class="input-field col s12">     								
							{{form.password1}}
							<label for="password1">Contraseña</label>		
						</div>        

						<div class="input-field col s12">     								
							{{form.password2}}
							<label for="password2">Repita la contraseña</label>								
						</div>        				 
						{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						{% endif %}
						<div class="input-field col s12">     
							<button type="submit" class="btn waves-effect waves-light">{% trans "Sign Up" %}<i class="mdi-content-send right"></i></button>
							<p>Ya tiene una cuenta? <a href="{{ login_url }}">Inicie Sesión</a></p>	
						</div>
					</form>            
					
				</div>          
			</div>
			<div class="col s2"></div>
		</div>
	</div>
</div>
{%endblock%}

{% block extra_body %}

<script type="text/javascript">
	$(function (){
		$("input").removeAttr("Placeholder");
	});      
</script>
<!-- Compiled and minified JavaScript -->
{% endblock %}