{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block body %}
<div class="container">
	<h2>{% trans "Verify Your E-mail Address" %}</h2>
	<p>Te hemos enviado un e-mail para verificar la dirección de correo electrónico. Sigue el link otorgado para finalizar el proceso de registro. Por favor, contáctanos si no lo has recibido en unos minutos.</p>
</div>
{% endblock %}
