{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metas %}
    {% endblock%}    
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}">
      

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>

    {% block estaticos-propios %}
    
    {% endblock%} 
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Night Advisor</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% block nav-links %}
                {% endblock%}   
                 {% if user and not user.is_anonymous %}
                      <li><a href="/perfil/{{user.id}}">{{ user.get_full_name|default:user.username }}</a></li>
                      <li><a href="/logout">Logout</a></li>   
                      <!-- Verificar que el usuario tenga permiso de moderador-->
                        {% for group in user.groups.all %}
                            {% if group.name == 'Moderador' %}
                                <li>
                                    <a href="/denuncias/vacio">Denuncias</a>
                                </li>
                            {% endif %}
                        {% endfor %}


                        {%if user.is_superuser%}
                            <li>
                                <a href="/admin">Admin</a>
                            </li>
                        {%endif%}    
                {%else%}                                                    
                <li><a href="/login/">Login</a></li>
                <li><a href="/registrar">Registro</a></li>
                {%endif%}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block contenido %}
{% endblock%}



 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    

{%block scripts-especificos%}
{%endblock%}

{% if user.is_authenticated %} 


<script type="text/javascript">



var modelos= []
$("#chkEstablecimiento").click(function(){
    if ($("#chkEstablecimiento").prop("checked")==true){
        modelos.push("Establecimiento")
    }
});



$("#Busqueda").keyup(function(){
    var datos =document.getElementById("Busqueda").value;
    if (datos== ""){
       $("#bajo").hide();
    }else{

        $("#bajo").show();
    } 
    

   $.ajax({
        url:"/searchEstablecimiento/",
        data:{"datos": datos},
        type :'get',
        success: function(data){
            console.log(data);
            if (data==""){
            $("#bajo").hide();      
            }else{}
            
          $("#bajo").html(data);
          $("#bajo").show();
        },

        failure:function(data){

        },  
   });

});





function buscarNotificaciones(){


    var id= document.getElementById("id").value;
    console.log(id)
    $.ajax({
    url: '/buscarNotificacion/',
    data :{"id": id } ,
    type: 'get', 
    success: function(data) {   
    lista= JSON.parse(data);
    if (data == []){}
        else{
           /*hacer un for y crear todas las notificaciones,por ahora muestra un alert,*/
           alert(data);
        }
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
});


}


</script>

{%endif%}

{% block scripts %}
{% endblock%}

</body>
</html>