<div class="input-field col s6">
	<input id="buscador" type="text" length="100">
	<label for="buscador">Buscar</label>
</div>
<input type="text" class ="form-control searchInput" id="Busqueda" placeholder="Buscar" data-toggle="">	    	
<ul role="menu" class="dropdown-menu" id = "bajo">
</ul> 

