{%if lista|length >= 1%}
		<br>
		
		
		
		<h2>Reviews de visitantes </h2>		
		{%for R in lista%}
		<div class="col-md-6 col-md-offset-2">		
			<div class="row">		
				<div class="panel panel-info">
    				<div class="panel-heading">
       				 <h3 class="panel-title" id="{{R.id}}"><a href="/perfil/{{R.0.autor.id}}">{{R.0.autor.username}}  </a> -- {{R.0.titulo}}</h3>    			
					</div>
    				<div class="panel-body">{{R.0.texto}}</div>

					<div class="panel-footer clearfix">
						<div class="pull-right">
            				<div class="btn-group">
            				<a href="#myModal" class="btn btn-default btn-sm" data-toggle="modal" data-id="{{R.0.id}}" id="btnComent"> <span class="glyphicon glyphicon-comment"></span></a>
            				
            				<a href="#"><button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-hand-up"></span></button></a>
        					
        					<button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-hand-down"></span></button>
							{%if user != R.0.autor%}<!-- Si no soy el autor de la review,la puedo denunciar-->
								<a href="#myModalDenuncia" data-toggle="modal" data-id="{{R.0.id}}" id="btnDenuncia"><button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-flag"></span></button></a>
							{%endif%}
							{%if user.is_staff%}<!-- Si el user es staff, puede bloquear contenido-->
        						<a href="#"><button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-ban-circle"></span></button></a>
        					{%endif%}
							
							{%if user == R.0.autor%}<!-- Si soy el autor de la review,la puedo modificar o eliminar-->
								<a href="/modificarReview/{{R.0.id}}/"method="GET"><button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-pencil"></span></button></a>

								<a href="/eliminarContenido/{{R.0.id}}"><button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-remove"></span></button></a>
							{%endif%}	
        					</div>
        				</div>

					</div>	

					{%if R.1 != " "%}
						<h4>Comentarios(En cualquier momento mejoramos los templates)</h4>
						{%for c in R.1%}
							<p><a href="/perfil/{{c.autor.id}}">{{c.autor}}</a></p>
							<p>{{c.texto}}</p>
							{%if user == c.autor%}
							<a href="#modalModificar" class="btn btn-default btn-sm" data-toggle="modal" data-id="{{c.id}}" id="btnModificar"> <span class="glyphicon glyphicon-pencil"></span></a>	
							<hr>
							<a href="/eliminarContenido/{{c.id}}"><button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-remove"></span></button></a>
							{%endif%}
							{%if user != c.autor%}<!-- Si no soy el autor de la review,la puedo denunciar-->
								<a href="#myModalDenuncia" data-toggle="modal" data-id="{{R.0.id}}" id="btnDenuncia"><button type="button"class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-flag"></span></button></a>
							{%endif%}
						{%endfor%}

					{%endif%}			
				</div>		
			</div>