{%extends "base.html"%}

{% load staticfiles%}
{%block head_title %} Denuncias{%endblock%}
{% block extra_head %}
<style type="text/css">
    .page-title{
        color:#fff;
        font-size: 90px;        
        font-weight: 500;        
        text-shadow: 0px 0px 10px #393939; 
        text-transform: uppercase;   
    }

    .search-wrapper{
        width:70%;
        margin: 30px auto 0;
    }

    .parallax-container{
        background-color: rgba(0, 0, 0, 0.55);        
    }

    nav, .nav-wrapper{
        background-color: rgba(255, 255, 255, 0) !important;
        color:#fff;
    }

    .indicator{
        background-color: #607d8b !important;
    }
    .lugares{
        margin: 30px auto 60px;
  }

</style>
{% endblock%}

{%block body%}

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ MEDIA_URL }}bg-lugares3.jpg" style="width:100%"></div>
    <div class="container valign"><h2 class="page-title center-align">Denuncias</h2></div>    
</div> 

<div class="container" >
    <div class="search-wrapper">{%include "busquedaAvanzada.html"%}</div>
    <div class="row">
        <div class="col s12 lugares" >

        <ul class= "tabs" id ="Tabs">
            <li class="tab col s3" ><a id="todos" href="#Todos" class="blue-grey-text" >Todos</a></li>
            <li class="tab col s3"id ="usuarios"><a href="#Usuario" class="blue-grey-text" data-toggle="tab">Usuarios</a></li>
            <li class="tab col s3"id="comentarios"><a href="#Comentario" class="blue-grey-text" data-toggle="tab">Comentarios</a></li>
            <li class="tab col s3"id="reviews"><a href="#Review" class="blue-grey-text" data-toggle="tab">Reviews</a></li>
        </ul>
       </div>
    </div>
    <div class="row">
            <div class="col s12" id="Todos">    </div>
            <div class="col s12" id="Usuario"></div>

            <div class="col s12" id="Comentario"></div>
        
            <div class="col s12" id="Review">   </div>
    </div>
 

</div>
    
{%endblock%}


{%block extra_body%}    
<link rel="stylesheet" href="/static/bootstrap-yeti.min.css">   
<script>    

$(window).load(function(){
    
    $('.parallax').parallax(); 
    Filtro("Todos");
    var hash = window.location.hash; 
    $('#Tabs a[href="#'+hash+'"]').tab('show');  
});
function Filtro(campo){
    $.ajax({
            url: '/filtrarDenuncias/',
            data :{"tipo": campo } ,
            
            success: function(data) {
                campo= "#"+campo;  
                $(campo).html(data);
            },
            failure: function(data) { 
                alert('Got an error dude');
            }
        });
}
$("#todos").click(function(){
    console.log("TODOS")
    campo= "Todos" ;
    Filtro(campo);   
});

$("#usuarios").click(function(){
    campo= "Usuario" ;
    Filtro(campo);   
});
$("#comentarios").click(function(){
    campo= "Comentario" ;
    Filtro(campo);   
});

$("#reviews").click(function(){
    campo= "Review";
    Filtro(campo);   
});

</script>


{%endblock%}