{% extends "base.html" %}
{% load staticfiles %}

{%block head_title%} {{Establecimiento.nombre}}{%endblock%}

{%block extra_head%}
<style type="text/css">
    .parallax-container{
       height: 200px;
       background-color: rgba(0, 0, 0, 0.55);
   }

   .page-title{
    color:#fff;
    font-size: 50px;        
    font-weight: 500;        
    text-shadow: 0px 0px 10px #393939; 
    text-transform: uppercase;   
}

.first-card{    
    margin-top: 30px;
    padding-bottom: 30px;
}

.img-card{
    width:50%;
}

.img-card img{
    width: 100%
}

.ubicacion{
    margin-bottom: 15px;
}

body{
    background-color: #ededed;
}

.card:not(.first-card){
    padding:40px;
}
.form-comentario{    
    width: 100%;
}

.star-filled{
    color:#ffd700;
}

.star-empty{
    color: #e0e0e0;    
}

.rating-widget{
    margin-top: 40px;
}

.field-puntaje{
    padding: 55px 0 60px;
}

.foto{
    max-height: 500px;
    overflow: hidden;
}

.form-comentario h5, .comentarios h5{
    margin-bottom:40px;
}
.collection .collection-item.avatar{
    height: auto;
}

.comentarios .botones{
    padding: 20px 0;
    text-align: right;
}

.input-field label{
    left:0;
}
</style>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'your-app-id',
      xfbml      : true,
      version    : 'v2.3'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block body %}

<!--<div class="container">
    include "busquedaAvanzada.html"
</div>-->

<div class="container">
    <div class="card first-card center-align">
    <div class="foto">
        <img src="/media/{{Establecimiento.foto}}">
    </div>
        <div class="container"><h4 class="center-align">{{Establecimiento.nombre}}</h4>
        <p> {{Establecimiento.descripcion}}</p>        
        <div class="col s12 ubicacion"><i class="mdi-action-room"></i>&nbsp;{{Establecimiento.ciudad.nombre}} , dirección : {{Establecimiento.direccion}} </div>
        </div>    
        <div class="fb-share-button" data-href="http://nightadvisor.herokuapp.com/" data-layout="button_count"></div>

    </div>        
    
    <div class="card form-comentario">
        <div>
            <h5>Comentá tu experienia en {{Establecimiento.nombre}}</h5>
        </div> 
        <form id="f-comentario" action="/NuevaReview/{{Establecimiento.id}}/" method="POST">
            {% csrf_token%}
            {% if form.errors %}
            {% for field in fReview %}
            {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}                    
            <div class="input-field col s12">
                
                  {{fReview.titulo}}                  
                  <label for="titulo">Título</label>
                
            </div>  
            <div class="input-field col s12">
                
                  <textarea id="id_texto" name="{{fReview.texto.name}}" class="materialize-textarea"></textarea>                      
                  <label for="texto">Texto</label>
                
            </div>
            <div class="input-field col s12 field-puntaje">   
                <label for="puntaje">Puntaje</label>
                <input id="rating-widget" type="hidden" name="puntaje" class="rating" data-filled="fa fa-star fa-2x star-filled" data-empty="fa fa-star-o fa-2x star-empty"/>
            </div>                                         
            <button class="primaryAction btn waves-effect waves-light" type="submit">Comentar<i class="mdi-content-send right"></i></button>
            <input type="hidden" name="id" id='id' value="{{Establecimiento.id}}" />
            <input type="hidden" name="tipo" id='tipo' value="Review" />
        </form>         
    </div>
    
    <div class="comentarios card">
        {%if lista|length >= 1%}            
            <h5>Reviews de visitantes</h5>    
            <ul class="collection" id="image-test">    
            {%for R in lista%}                        
                <li class="collection-item avatar">
                    <img src="/media/{{R.1}}" alt="{{R.0.autor.username}}" class="circle tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{R.0.autor.username}}"/>
                    <span class="title" id="{{R.id}}">{{R.0.titulo}}</span>
                  <p><input type="hidden" class="rating" readonly="True" data-filled="fa fa-star fa-1x star-filled" data-empty="fa fa-star-o fa-1x star-empty" value="{{R.0.puntaje}}"><br>
                     {{R.0.texto}}<br>
                    <div class="botones">
                        {%if user != R.0.autor%}<!-- Si no soy el autor de la review,la puedo denunciar-->                        
                        <a href="#myModalDenuncia" id="btnDenunciaReview" type="button" class="btn-floating btn btn-large waves-effect waves-light modal-trigger" data-id="{{R.0.id}}" id="btnDenuncia"><i class="fa fa-flag-o"></i></a>
                        {%endif%}

                        {%if user.is_staff%}<!-- Si el user es staff, puede bloquear contenido-->
                        <!--<a href="#"><button type="button" class="btn-floating btn-large waves-effect waves-light"><i class="fa fa-ban"></i></button></a>-->
                        {%endif%}

                        {%if user == R.0.autor%}<!-- Si soy el autor de la review,la puedo modificar o eliminar-->
                        <a href="/modificarReview/{{R.0.id}}/"method="GET" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="fa fa-edit"></i></a>

                        <a href="/eliminarContenido/{{R.0.id}}" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="fa fa-trash"></i></a>
                        {%endif%}   
                    </div>

                  </p>                      
                </li>   
            {%endfor%}
            </ul>
            
        {%else%} <!--si no hay reviews-->
            <h5>0 Reviews </h5>      
        {%endif %}
    </div>
</div> 

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>No permitido</h4>
      <p>No se admite más de una review por usuario para cada sitio</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

<!-- Modal de Denuncias-->
<div id="myModalDenuncia" class="modal">
    <div class="modal-content">
      <h4>Denunciar</h4>
      <form role="form" action="/denunciar/" method="POST" enctype="multipart/form-data">
        {% csrf_token%}
        {{fDenuncia.as_p}}
        <input type="hidden" name="id_denuncia" id='id_denuncia' value="" />
        <input type="hidden" name="tipo" id="tipo-contenido" value="" />                       
       
    </div>
    <div class="modal-footer">
      <button class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit">Denunciar</button>
      </form>
    </div>
</div>
{%endblock%}

{% block extra_body%}
<link href="{% static "css/bootstrap-rating.css" %}" rel="stylesheet">
<script type="text/javascript" src="{% static "js/bootstrap-rating.min.js" %}"></script>

<script type='text/javascript'>

    $(document).ready(function(){
        $('.parallax').parallax();           
        $('select').material_select();
        $('.rating').rating();
        $('.tooltipped').tooltip({delay: 50});  
        $('.modal-trigger').leanModal();
    });    


    function Refresh(){
       $.ajax({
        url: '/Refresh/',
        data:{"id":id},
        success: function(data) { 
            $("#Contenido").html(data);
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    });
   }


   $(document).on("click", "#btnComent", function () {
      var myID = $(this).data('id');
      $('#review_id').attr("value",myID);
      console.log("mi id; " + myID);
  });


   $(document).on("click", "#btnDenunciaReview", function () {
      var myID = $(this).data('id');
      $('#id_denuncia').attr("value",myID);
      $('#tipo-contenido').val("Review");
      console.log("mi id; " + myID);
  });

   $("#f-comentario").submit(function(){
    {%for R in lista%}
      {%if user.id == R.0.autor.id%}
        $('#modal1').openModal();
        return false;
      {%endif%}
    {%endfor%}
   });


//var csrftoken = $.cookie('csrftoken');

</script>
{%endblock%}



