{%extends "base-landing.html"%}


{%block titulo%} {{Establecimiento.nombre}}{%endblock%}

{%block header%}    
    	<header class="intro-header" style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQDOm2G9FrunZ2ouDJ7cHK_WSnNb11rDlHfeymbiH-raEU7_vPo);height: 200px; width: 1600px;">   
        <div class="container">                       
        </div>
    </header>
{%endblock%}


{%block menulist%}

<ul class="nav navbar-nav">
    <li >
        <a href="/">index</a>
    </li>
<ul/>

{%endblock%}

{%block contenido%}

{%include "busquedaAvanzada.html"%}
<div class="col-md-6 ">
	<img src="/media/{{Establecimiento.foto}}" alt="" class="img-thumbnail">
	<h1>{{Establecimiento.nombre}}</h1>
	<div>
	<p>Localidad : {{Establecimiento.ciudad.nombre}}</p>
	<p>Direccion : {{Establecimiento.direccion}}</p>
	<p>Tipo : {{Establecimiento.tipo.tipo}}</p>
	<p>Descripcion: {{Establecimiento.descripcion}}</p>
	
</div>

<a href="/NuevaReview/{{Establecimiento.id}}">Agrega un comentario sobre tu experiencia en {{Establecimiento.nombre}}</a>
<br>
<br>
</div>



<div class="containter-fluid" id="Contenido">	
<div class="row"></div>
		</div>



<!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Escriba un comentario</h4>
                </div>
               
                <form role="form" action="/nuevoComentario/" method="POST" enctype="multipart/form-data">

                    <div class="modal-body">
                    	
                    	{% csrf_token%}
                    	{{form.as_p}}
                    	<input type="hidden" name="review_id"id='review_id' value="" />
					</div>
					  
                
                	<div class="modal-footer">
                    	<div class="form-actions">
		
                			<input class="btn btn-default btn-lg" type="submit" value="Cargar" name="name" id="comentar" id="" />
           			 	</div>
           			</div>
				</form>

                
            </div>
        </div>
    </div>

<input type="hidden" value="{Establecimiento.id}" id ="ID">



<div id="myModalDenuncia" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Denunciar </h4>
                </div>
               
                <form role="form" action="/denunciar/" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                    	
                    	{% csrf_token%}
                    	{{fDenuncia.as_p}}

                    	<input type="hidden" name="id"id='id' value="" />
                    	<input type="hidden" name="tipo"id='tipo' value="Review" />
					</div>
					  
                
                	<div class="modal-footer">
                    	<div class="form-actions">
		
                			<input class="btn btn-default btn-lg" type="submit" value="Cargar" name="name" />
           			 	</div>
           			</div>
				</form>

                
            </div>
        </div>
    </div>





	{%endfor%}
	{%endif%}
		


{%endblock%}
{% include "modalDenuncias.html" whit form= form% }

{% block scripts-especificos%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type='text/javascript'>
var id = document.getElementById("#Id").value

function Refresh(){
	$.ajax({
            url: '/Refresh/',
            data:{"id",id}
            success: function(data) { 
                $("#Contenido").html(data);
            },
            failure: function(data) { 
                alert('Got an error dude');
            }
        });
}

$("#comentar").onclick(function(){
	Refresh();
});

$(document).on("click", "#btnComent", function () {
		var myID = $(this).data('id');
		$('#review_id').attr("value",myID);
		console.log("mi id; " + myID);
	});


$(document).on("click", "#btnDenuncia", function () {
		var myID = $(this).data('id');
		$('#id').attr("value",myID);
		console.log("mi id; " + myID);
	});
</script>
{%endblock%}
