{%extends "base.html"%}

{%block head_title%}Cargar Establecimiento{%endblock%}
{% block extra_head%}

<style type="text/css">
  .input-field label{
    left:0;
}
body{
  background-color: #ededed;
}

.card{
  width:70%;
  margin:20px auto;
  padding:40px;  
}

.card h4{
  margin-bottom:40px;  
}

.form-actions{
  margin-top:50px;
}
</style>
{% endblock%}

{%block body%}

<div class="container">
<div class="card">
  <h4>Nuevo Establecimiento</h4>
  <div class="col-md-12" style="text-align:left !important ">
    <form role="form" action="/nuevoEstablecimiento/" method="POST" enctype="multipart/form-data">
      <div class="col-lg-6">
        {% csrf_token%}
        {% for field in form %}
          {% if field.errors %}
          <div class="form-group error">
            <label>{{ field.label }}</label> 
            <div class="input-group">{{ field }}
              <span class="help-inline">
                {% for error in  field.errors %}{{ error }}{% endfor %}
              </span>
            </div>
          </div>
          {% endif %}                
          {% endfor %}
          <div class="input-field col s12">
                
                  {{form.nombre}}                  
                  <label for="nombre">Nombre</label>
                
            </div>
            <div class="input-field col s12">
                
                  {{form.tipo}}                  
                  <label for="tipo">Tipo</label>
                
            </div>

            <div class="input-field col s12">
                
                  <textarea id="id_descripcion" name="{{form.descripcion.name}}" class="materialize-textarea"></textarea>                      
                  <label for="descripcion">Descripción</label>
                
            </div>
            <div class="file-field input-field">
              <input class="file-path validate" type="text"/>
              <div class="btn">
                <span>Foto</span>
                <input type="file" name="foto"/>
              </div>
            </div>          
            <div class="input-field col s12">
              <input id="searchTextField" type="text" size="50" name="ciudad">              
            </div>        
        <input type="hidden" value="" id="locality"/>
        <input type="hidden" value="" id="postal_code" name="postal_code"/>
        <input type="hidden" value="" id="administrative_area_level_1"/>
        <input type="hidden" value="" id="country"/>      

        <div class="form-actions">

          <input class="btn btn-default btn-lg" type="submit" value="Cargar" name="name" />
        </div>
      </div>
    </form>
  </div>
</div>

</div>

{%endblock%}

{% block extra_body%}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">

  var placeSearch, autocomplete;
  var componentForm = {        
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  $(function() {
    $('select').material_select();
    var input = document.getElementById('searchTextField');        
    var options = {
      types: ['(cities)'],
      componentRestrictions: {country: 'ar'}
    };
    

    autocomplete = new google.maps.places.Autocomplete(input, options);        
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      fillInAddress();
            //$('#selected').text("Place selected:" +place.formatted_address)
          });

    function fillInAddress() {
          // Get the place details from the autocomplete object.
          var place = autocomplete.getPlace();

          for (var component in componentForm) {            
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
          }

          // Get each component of the address from the place details
          // and fill the corresponding field on the form.
          for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
              var val = place.address_components[i][componentForm[addressType]];
              console.log("val " + val + "addressType "+ addressType);
              if (val!="")
              {
                document.getElementById(addressType).value = val;  
              }                            
            }
          }
        }
      });
</script>
{%endblock%}
