{% extends 'base.html'%}
{% load staticfiles%}
{% block head_title %}Lugares{% endblock %}
{% block extra_head %}
<style type="text/css">
    .page-title{
        color:#fff;
        font-size: 90px;        
        font-weight: 500;        
        text-shadow: 0px 0px 10px #393939; 
        text-transform: uppercase;   
    }

    .search-wrapper{
        width:70%;
        margin: 30px auto 0;
    }

    .parallax-container{
        background-color: rgba(0, 0, 0, 0.55);        
    }

    nav, .nav-wrapper{
        background-color: rgba(255, 255, 255, 0) !important;
        color:#fff;
    }

    .indicator{
        background-color: #607d8b !important;
    }
    .lugares{
        margin: 30px auto 60px;
  }

</style>
{% endblock%}


{% block body %}    
<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ MEDIA_URL }}/bg-lugares3.jpg" style="width:100%"></div>
    <div class="container valign"><h2 class="page-title center-align">Lugares</h2></div>    
</div>

<div class="container">
    <div class="search-wrapper">{%include "busquedaAvanzada.html"%}</div>
    <div class="row">
        <div class="col s12 lugares">
            <ul class="tabs" id="Tabs">
                <li class="tab col s2"><a href="#Todos" id="todos" class="blue-grey-text">Todos</a></li>
                <li class="tab col s2"><a href="#MejoresPuntuados" id="mejorespuntuados" class="blue-grey-text">Mejores</a></li>
                <li class="tab col s2"><a href="#Bar" id="bares" class="blue-grey-text">Bares</a></li>
                <li class="tab col s2"><a href="#Pub" id="pubs" class="blue-grey-text">Pubs</a></li>
                <li class="tab col s2"><a href="#Restaurant" id="restaurants" class="blue-grey-text">Restaurants</a></li>
                <li class="tab col s2"><a href="#Boliche" id="boliches" class="blue-grey-text">Boliches</a></li>
            </ul>
        </div>
        <div id="Todos" class="col s12"></div>
        <div id="MejoresPuntuados" class="col s12"></div>
        <div id="Bar" class="col s12"></div>
        <div id="Pub" class="col s12"></div>
        <div id="Restaurant" class="col s12"></div>
        <div id="Boliche" class="col s12"></div>
    </div> 
</div>   
<div class="container">
    <div class="row">
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Compartir</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!" style="background-color:#64b5f6;" onclick="facebookWall()">Compartir<i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a style="background-color:#64b5f6;"  href="#!" id="btnInvitarFace">Invitar<i class="fa fa-facebook-square"></i></a>
            </li>
            <li class="divider">    
            </li>
            <li>
                <a href="#!" style="background-color:#80deea;"  onclick="tweet()">Compartir<i class="fa fa-twitter-square"></i></a> 
            </li>
            <li>
                <a style="background-color:#80deea;"  href="#Invitar" id="btnInvitar">Invitar<i class="fa fa-twitter-square"></i></a> 
            </li>
        </ul>            
        <br>
    </div>


</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="/nuevoEstablecimiento/" class="btn-floating btn-large waves-effect waves-light red">
      <i class="mdi-content-add"></i>
    </a>
</div> 



<!--================================ Botn Compartir===========================================-->

<!--===============================================================================================-->
{%endblock%}

{% block extra_body %}   

<script>    
    $(document).ready(function(){
        $('.parallax').parallax();            
        Filtro("Todos");
        Filtro("MejoresPuntuados");
        Filtro("Bar");
        Filtro("Pub");
        Filtro("Boliche");
        Filtro("Restaurant");        
             
    });       


    function Filtro(campo){
        $.ajax({
            url: '/filtrar/',
            data :{"tipo": campo } ,

            success: function(data) {
                campo= "#"+campo;  
                $(campo).html(data);
            },
            failure: function(data) { 
                alert('Got an error dude');
            }
        });
    }    
</script>

{%endblock%}    
