<ul class="collection">
    {%for follow in followers%}
    <li class="collection-item avatar" id="{{follow.0}}">
     	<img src="{{follow.1}}" alt="" class="circle">
      <span class="title">{{follow.2}}</span>
       
      <a href="#!" class="btn-floating btn-large waves-effect waves-light cyan right" data="{{follow.0}}" id="send{{follow.0}}"onclick="personalMessage(this.getAttribute('data'))"><i class="fa fa-envelope-o"></i></a>
    </li>
    {%endfor%}
</ul>
<!--<a href="#!" class="secondary-content" data="{{follow.0}}" onclick="personalMessage(this.getAttribute('data'))"><i class="fa fa-envelope-o"></i></a>-->