<div id="myModalDenuncia" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Denunciar </h4>
                </div>
               
                <form role="form" action="/denunciar/" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                    	
                    	{% csrf_token%}
                    	{{form.as_p}}

                    	<input type="hidden" name="review_id"id='review_id' value="" />
					</div>
					  
                
                	<div class="modal-footer">
                    	<div class="form-actions">
		
                			<input class="btn btn-default btn-lg" type="submit" value="Cargar" name="name" />
           			 	</div>
           			</div>
				</form>

                
            </div>
        </div>
    </div>