{%extends "base.html"%}
{%block head_title%} Denuncias{%endblock%}


{%block extra_head%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
    .page-title{
        color:#fff;
        font-size: 90px;        
        font-weight: 500;        
        text-shadow: 0px 0px 10px #393939; 
        text-transform: uppercase;   
    }

    .search-wrapper{
        width:70%;
        margin: 30px auto 0;
    }

    .parallax-container{
        background-color: rgba(0, 0, 0, 0.55);        
    }

    nav, .nav-wrapper{
        background-color: rgba(255, 255, 255, 0) !important;
        color:#fff;
    }

    .indicator{
        background-color: #607d8b !important;
    }
    .lugares{
        margin: 30px auto 60px;
  }

</style>
{%endblock%}

{%block body%}
<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ MEDIA_URL }}/bg-lugares3.jpg" style="width:100%"></div>
    <div class="container valign"><h2 class="page-title center-align">Moderar</h2></div>    
</div>

<div class="row">
    <div class="col s12 m6 l9 offset-l1  ">
    {%if review != " "%}
    <div class="post-index z-depth-1">
        <p>Autor : {{review.autor}}</p>
        <p>Titulo : {{review.titulo}}</p>    
        <p>Review: {{review.texto}}</p>
        <p>Fecha :  {{review.fecha}}</p>
        <p>Estado :{{review.estado}}</p>
    </div> 
    {%endif%}
	
  {%if comentarios != " "%}
    <div class="post-index z-depth-1">
        <p>Autor : {{comentarios.autor}}</p>
        <p>Titulo : {{comentarios.titulo}}</p>    
        <p>Review: {{comentarios.texto}}</p>
        <p>Fecha {{comentarios.fecha}}</p>
    </div> 
    {%endif%}
    </div>
</div>

<div class="row">
    <div class="col s12 m6 l9 offset-l1  ">
        <div class="post-index z-depth-3">
            <div class="col l6 offset-l3">
            <a class="waves-effect waves-light btn" href="eliminarContenido/{{id}}">eliminar</a>
            <a class="waves-effect waves-light btn" href="/bloquear{{vista}}{{id}}">bloquear</a>
            <a class="waves-effect waves-light btn" href="/permitirContenido/{{id}}">permitir</a>
            </div>
        </div>
    </div>
</div>  


{%endblock%}

{%block extra_body%}

<script type="text/javascript">
$(window).load(function(){
    
    $('.parallax').parallax(); 
    var hash = window.location.hash; 
});

</script>
{%endblock%}