
{%extends "base-landing.html"%}


{%block titulo%} Review {%endblock%}


{%block header%}    
    <!--<header class="intro-header" style="background-image: url('/static/img/dj-home2.jpg');height: 200px; width: 1600px;	">-->
	<header class="intro-header" style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQDOm2G9FrunZ2ouDJ7cHK_WSnNb11rDlHfeymbiH-raEU7_vPo);height: 200px; width: 1600px;	">   
     <div class="container">                       
        </div>
    </header>
 {%endblock%}

{%block contenido%}
<h1>{{Establecimiento.nombre}}</h1>

<form class="form-horizontal" action="/NuevaReview/{{Establecimiento.id}}/" method="POST">


{% csrf_token%}
    {% for field in form %}
            {% if field.errors %}
                <div class="form-group error">
                    <label class="col-sm-2 control-label">{{ field.label }}</label> 
                    <div class="col-sm-10">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ field.label }}</label> 
                    <div class="col-sm-10">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    
    <div class="form-actions">
    	<input class="btn btn-primary" type="submit" value="Cargar" name="name" />
    </div>

</form>

{%endblock%}
