<table class="responsive-table" style="font-size: 16px;">
		<thead>
        <tr>
            <th >Fecha</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Razon</th>
            <th>Autor</th>
            <th>Estado</th>
            <th>Denunciado</th>
        </tr>
    </thead>
    <tbody>
        {%if denuncias|length >= 1%}
        	{%for denuncia in denuncias%}

        	<tr>
            	<td>{{denuncia.fecha}}</td>
            	<td>{{denuncia.tipo}}</td>
            	<td>{{denuncia.categoria.nombre}}</td>
            	<td>{{denuncia.razon}}</td>
        		<td>{{denuncia.autor}}</td>
        		<td>{{denuncia.estado}}</td>
        		{%if denuncia.tipo  == "Review" %}
        			<td><a href="/moderar/Review/{{denuncia.id_denunciado}}">{{denuncia.id_denunciado}} </a> </td>
        		{%elif denuncia.tipo == "Comentario"%}
        			<td><a href="/moderar/Comentario/{{denuncia.id_denunciado}}">{{denuncia.id_denunciado}} </a> </td>
        		{%else%}
					<td><a href="/moderar/Usuario/{{denuncia.id_denunciado}}">{{denuncia.id_denunciado}} </a> </td>
        		{%endif%}
        	</tr>
			{%endfor%}
		{%endif%}
	</table>