<ul class="collection" id="image-test">
{%for establecimiento in Establecimientos%}
    <li class="collection-item avatar">
      <img src="/media/{{establecimiento.foto}}" alt="{{establecimiento.nombre}}" class="circle"/>
      <span class="title"><a href="/DetalleEstablecimiento/{{establecimiento.id}}" class="">{{establecimiento.nombre}}</a></span>
      <p>{{establecimiento.ciudad.nombre}}<br>
         {{establecimiento.tipo.tipo}}
      </p>
      <a href="#!" class="secondary-content">{{establecimiento.puntaje}}<i class="mdi-action-grade"></i></a>
    </li>   
{%endfor%}
</ul>


