<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenido a Night Advisor</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom CSS -->    
    <link href="/static/clean-blog.min.css" rel="stylesheet">
<!-- Custom CSS -->    
    <link href="/static/Sitio.css" rel="stylesheet">
  

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <style type="text/css">
        #singup .navbar{
            background: #333;
        }
        .form-actions{
            text-align: center;
        }
        #dummie{
            margin-top:100px;
        }        
        footer{
            clear:both;
            margin-top: 200px;
        }
    </style>
</head>
{%if user.is_authenticated%}
<body onLoad="setInterval('buscarNotificaciones()',500000);">
{%else%}
<body >
{%endif%}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="/">NAdv</a>
                {%block busqueda%}

                {%endblock%}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            {%block nav-bar-links%}
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}                   
        <li>
            <a href="#">{{user.username|capfirst}}</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
	<li>
            <a href="/perfil/{{user.id}}">Perfil</a>
        </li>

        {% for group in user.groups.all %}
            {% if group.name == 'Moderador' %}
                <li>
                    <a href="/denuncias/">Denuncias</a>
                </li>
            {% endif %}
        {% endfor %}


        {%if user.is_superuser%}
        <li>
            <a href="/admin">ADMIN</a>
        </li>
        {%endif%}
        <li class="dropdown">
	    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Establecimientos <b class="caret"></b></a>
	    <ul role="menu" class="dropdown-menu">
                <li><a href="/Establecimientos2">Establecimientos</a></li>
                <li class="divider"></li>
                <li><a href="/nuevoEstablecimiento/">Nuevo</a></li>
            </ul>	        
	</li>                    
        
    {%else%}
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->                   
        <li>
            <a href="/registrar">Registro</a>
        </li>                   
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>                   
       {%endif %}
    </ul>
</div>
            {%endblock%}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {%block header%}{%endblock%}   

   
    <!-- Main Content -->    
    <div class="container-fluid">
        <!--/left-->
   {%block contenido%}
   {%endblock%}    
        
        </div>   
    </div>


   <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    <input type="hidden" value="{{user.id}}" id="id" name="id">
    </footer>

    
    <!-- jQuery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript --> 
    <script src ="/static/index.js" ></script>
    

    

     {%block scripts-especificos%}
     {%endblock%}


<!-- Este div es para mostrar las notificaciones , es provisorio hasta que vea los plugins
para notificaciones   -->




{% if user.is_authenticated %} 
<script type="text/javascript">

$("#Busqueda").keyup(function(){
    var datos =document.getElementById("Busqueda").value;
    if (datos== ""){
       $("#bajo").hide();
    }else{

        $("#bajo").show();
    } 
    

   $.ajax({
        url:"/searchEstablecimiento/",
        data:{"datos": datos},
        type :'get',
        success: function(data){
            console.log(data);
            if (data==""){
            $("#bajo").hide();      
            }else{}
            
          $("#bajo").html(data);
          $("#bajo").show();
        },

        failure:function(data){

        },  
   });

});





function buscarNotificaciones(){


    var id= document.getElementById("id").value;
    console.log(id)
    $.ajax({
    url: '/buscarNotificacion/',
    data :{"id": id } ,
    type: 'get', 
    success: function(data) {   
    lista= JSON.parse(data);
    if (data == []){}
        else{
           /*hacer un for y crear todas las notificaciones,por ahora muestra un alert,*/
           alert(data);
        }
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
});


}


</script>

{%endif%}


</body>

</html>
