
{%extends "base.html"%}
{% load staticfiles %}
    {% block metas %}
    <title>Night Advisor</title>
    <meta name="description" content="Sitio de reviews de bares y boliches">
    <meta name="keywords" content="bares, boliches, reviews, noche, salidas">
    {% endblock%}          

    {% block estaticos-propios %}
        <!-- Slider
        ================================================== -->
        <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" media="screen">

    {% endblock%}     

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    {% block nav-links %}   

    {% endblock%} 

    {% block contenido %}


    <!-- Login Modal
        ==========================================-->
      <div class="modal fade login" id="loginModal">
              <div class="modal-dialog login animated">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Iniciar Sesión</h4>
                    </div>
                    <div class="modal-body">  
                        <div class="box">
                             <div class="content">
                                <div class="social">
                                    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
                                    
                                    <a class="circle github" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                                        <i class="fa fa-twitter fa-fw"></i>
                                    </a>                                    
                                    <a id="google_login" class="circle google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                                        <i class="fa fa-google-plus fa-fw"></i>
                                    </a>
                                    <a id="facebook_login" class="circle facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                      <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <form method="post" action="/login/" accept-charset="UTF-8">
                                    {% csrf_token%}                                    
                                    {{ form }}                                   
                                    <input class="btn btn-default btn-login" type="submit" value="Ingresar">
                                    </form>
                                </div>
                             </div>
                        </div>
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                             <div class="form">
                                <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit">
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Looking to 
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Already have an account?</span>
                             <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>        
                  </div>
              </div>
          </div>




        <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1 style="font-size:6rem;">Bienvenidos a <strong><span class="color">Night Advisor</span></strong></h1>
                <p class="lead">Compart&iacute; lo mejor y lo peor de <strong>tus noches</strong>. Puntu&aacute; bares y boliches y <strong>encontr&aacute; tu salida perfecta</strong></p>
                <p>
   {% if user and not user.is_anonymous %}
     Hello {{ user.get_full_name|default:user.username }}!
   {% else %}
     I don’t think we’ve met before.
   {% endif %}
 </p>
                <a href="#tf-services" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>
    
    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>¿C&oacute;mo <strong>funciona?</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Night Advisor es una plataforma que te brinda la posibilidad de crear una review sobre lugares de salidas. Para ello, s&oacute;lo ten&eacute;s que seguir estos sencillos pasos.</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-search"></i>
                    <h4><strong>Encontr&aacute; el lugar</strong></h4>
                    <p>Busc&aacute; en los establecimientos cargados el que est&aacute;s buscando. Si no est&aacute;, te damos la posibilidad de crearlo vos mismo/a!</p>
                </div>

                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-comment"></i>
                    <h4><strong>Comentalo</strong></h4>
                    <p>Hac&eacute; conocer tu experiencia con una descripci&oacute;n y luego dale un puntaje para cuantificarla, del 1 al 5.</p>
                </div>

                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-check"></i>
                    <h4><strong>Listo!</strong></h4>
                    <p>Tu interacci&oacute;n ya qued&oacute; registrada. Ahora pod&eacute;s entrar a la secci&oacute;n del lugar y mirar tu review</p>
                </div>                
            </div>
        </div>
    </div>

    <!-- Video Section
    ==========================================-->

    <!--WORKS / PORTFOLIO SECTION END  -->
    <div id="video-sec" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Fh5lDQDvIhw',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false, optimizeDisplay: true, showYTLogo: false}">
        <!-- change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url-->
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>ASEGUR&Aacute; TU DIVERSI&Oacute;N</h1>
                        <h4>Encontr&aacute; la noche que <strong>est&aacute; esperando por vos</strong>

                        </h4>                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- VIDEO SECTION END-->

    
    <!-- Ranking Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Lugares <strong>mejor puntuados</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Resumen del ranking de lugares. Te mostramos los mejores 5</em></small>
            </div>
            <div class="space"></div>            
            <div class="col-md-12 listado">
                {%for establecimiento in Establecimientos%}                
                <div class="row linea">                    
                    <div class="col-md-4">                         
                        <img src="/media/{{establecimiento.foto}}" alt="" class="img-responsive img-thumbnail">                        
                    </div>                        
                    <div class="col-md-4">
                        <div class="contenido datos">
                            <h4>
                                {%if user.is_authenticated%}
                                <a href="DetalleEstablecimiento/{{establecimiento.id}}">{{establecimiento.nombre}}</a>
                                {%else%}
                                {{establecimiento.nombre}}
                                {%endif%}
                            </h4>                            
                            <h4>
                               Localidad : {{establecimiento.ciudad}}
                           </h4>                         
                       </div>                           
                   </div>
                   <div class="col-md-4">
                       <div class="contenido puntaje">
                           <h5>
                            {% if establecimiento.puntaje == 1 %}
                            <i class="fa fa-beer"></i>
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% elif establecimiento.puntaje == 2 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i>   
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>                    
                            {% elif establecimiento.puntaje == 3 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% elif establecimiento.puntaje == 4 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer dis"></i>
                            {% elif establecimiento.puntaje == 5 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i>                        
                            {% else %}
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% endif %}                            
                        </h5>
                    </div>                        
                </div>
            </div>                            
            {%endfor%}
        </div>        

    </div>
</div>

    <!-- Testimonials Section
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Lo que opinan</strong> nuestros usuarios</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <h5>Night Advisor me parece una muy buena propuesta, algo distinto para 
                                    tener en cuenta al momento de elegir donde salir.</h5>
                                    <p><strong>Juan Rodr&iacute;guez</strong></p>
                                </div>

                                <div class="item">
                                    <h5>Excelente forma de conocer opiniones sobre lugares a los que quiz&aacute;s nunca hubiera ido sin tener una recomendaci&oacute;n previa.</h5>
                                    <p><strong>Marcos Gonz&aacute;lez</strong></p>
                                </div>

                                <div class="item">
                                    <h5>Night Advisor nos brinda una muy buena oportunidad para poder compartir nuestras experiencias y encontrar m&aacute;s diversi&oacute;n al momento de salir</h5>
                                    <p><strong>Pablo P&eacute;rez</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>No dudes en <strong>contactarnos</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em>Ten&eacute;s alguna duda? Alguna sugerencia? Contactanos completando este formulario y enseguida estaremos atendiendo tu solicitud</em></small>            
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mensaje</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Enviar</button>
                    </form>

                </div>
            </div>

        </div>
    </div>    

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>    

    {% endblock%}                
    {%block scripts-especificos%}
        <!-- OWL CAROUSEL  -->
        <script src="{% static "js/owl.carousel.js" %}"></script>
        <!-- BACKGROUND VIDEO PLUGIN  -->
        <script src="{% static "js/jquery.mb.YTPlayer.js" %}"></script>   
        <!-- JS para modal login  -->
        <script src="{% static "js/index.js" %}"></script>
    {%endblock%}
        