<html>
<head>

  <title>Materialize CSS Framework Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" media="screen, projection">
  <style type="text/css">
    .card{
      margin-top:2em;
      padding:60px 0;
    }

    .fa{
      font-size: 80px;
    }

    a.facebook{
      background-color: #3a5795;
    }

    a.twitter{
      background-color: #55acee;
    }

    a.google{
      background-color: #dd4b38;
    }

    a.facebook:hover{
      background-color: #062361;      
    }
    a.twitter:hover 
    {
      background-color: #118EED;      
    }

    a.google:hover
    {
      background-color: #DA1900;      
    }
    
    .social{
      margin:40px 0;
    }

    .social a{
      margin: 0 15px;
    }
    .btn[type="submit"]{
      margin-top:40px;      
    }
    nav .nav-wrapper{
      padding: 0 30px;
    }
  </style>  
</head>
<body>
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="brand-logo">NAdvisor</a>      
    </div>
  </nav>
  <div class="container">
    <div class="card">
      <div class="container">
        <div class="col s3"></div>    
        <div class="col s6">
          <ul class="tabs text-blue-gray">
            <li class="tab col s6"><a href="#login" class="active blue-grey-text">Iniciar Sesión</a></li>
            <li class="tab col s6"><a href="#registro" class="blue-grey-text">Registrarme</a></li>       
          </ul>
          <div id="login" class="col s6"> 
            <div class="col s6 center-align social">   

              <a class="btn waves-effect waves-light twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i class="fa fa-twitter"></i></a>


              <a class="btn waves-effect waves-light facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook"></i></a>


              <a class="btn waves-effect waves-light google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-google"></i></a>

            </div>  
            <form class="form-horizontal" action="/login/" method="POST">
              {% csrf_token%}     
              <div class="input-field col s6">          
                {{form.email}}
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">          
                {{form.password}}
                <label for="password">Contraseña</label>
              </div>                    
              <button class="btn waves-effect waves-light" type="submit" name="action" value="Ingresar">Ingresar
                <i class="mdi-content-send right"></i>
              </button>  
            </form>         
          </div>
          <div id="registro" class="col s6">
          <form class="form-horizontal" action="/registro/" method="POST">
              {% csrf_token%}              
              <div class="input-field col s3">          
                {{formR.nombre}}
                <label for="nombre">Nombre</label>
              </div>
              <div class="input-field col s3">          
                {{formR.apellido}}
                <label for="apellido">Apellido</label>
              </div>              
              <div class="input-field col s6">          
                {{formR.email}}
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">          
                {{formR.password}}
                <label for="password">Contraseña</label>
              </div>
              <div class="input-field col s6">          
                {{formR.confpassword}}
                <label for="confpassword">Confirmar contraseña</label>
              </div> 
              <button class="btn waves-effect waves-light" type="submit" name="action" value="Registrar">Registrarme
                <i class="mdi-content-send right"></i>
              </button>                          
            </form>          
          </div>
        </div>
        <div class="col s2"></div>
      </div>
    </div>
  </div>
  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script type="text/javascript">
    //custom JS code
  </script>

</body>
</html>