{%extends "base.html"%}

{% load staticfiles %}

{% block estaticos-propios%}
<link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">
<style type="text/css">
    #tf-menu.navbar-default {
        background-color: rgba(0, 0, 8, 0.86);
    }

    #tf-services{
        margin:100px auto;
    }

    nav#footer{
        position:fixed;
        left:0px;
        bottom:0px;            
        width:100%;            
    }        
</style>    
<script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>
{%endblock%}         

    <!-- Navigation
    ==========================================-->
    {%block nav-links%}   

    <li><a href="#tf-home" class="page-scroll">Inicio</a></li>
    <li><a href="#tf-services" class="page-scroll">C&oacute;mo funciona</a></li>
    <li><a href="#tf-works" class="page-scroll">Top 5</a></li>
    <li><a href="#tf-testimonials" class="page-scroll">Testimonios</a></li>
    <li><a href="#tf-contact" class="page-scroll">Contacto</a></li>
    {%endblock%}    

    {%block contenido%}
        <!-- Home Page
        ==========================================-->
        <div id="tf-services" class="text-center">                        
           <div class="col-md-8">
           {% if user and not user.is_anonymous %}
              <a>Hello, {{ user.get_full_name }}!</a>
              <br>
              <a href="/logout">Logout</a>
            {% else %}
                <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
                <form class="form-horizontal" action="/login/" method="POST">
                {% csrf_token%}
                {% for field in form %}
                {% if field.errors %}
                <div class="form-group error">
                    <label class="col-sm-2 control-label">{{ field.label }}</label> 
                    <div class="col-sm-10">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
                </div>
                {% else %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ field.label }}</label> 
                    <div class="col-sm-10">{{ field }}
                        {% if field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="form-actions">
                    <input class="btn btn-default btn-lg" type="submit" value="Ingresar" name="name" />
                </div>
            </form>    

            {% endif %}
           
        </div>    
        <div class="col-md-4"></div>
    </div>    
    {%endblock%}    

{%block scripts%}
<script type=text/javascript>
    $(function(){
        $('#tf-menu.navbar-default').addClass("on");
    });
</script>
{%endblock%}



