{%extends "base.html"%}

{%block head_title%} Modificar Perfil {%endblock%}
{%block extra_head%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
    .page-title{
        color:#fff;
        font-size: 90px;        
        font-weight: 500;        
        text-shadow: 0px 0px 10px #393939; 
        text-transform: uppercase;   
    }

    .search-wrapper{
        width:70%;
        margin: 30px auto 0;
    }

    .parallax-container{
        background-color: rgba(0, 0, 0, 0.55);        
    }

    nav, .nav-wrapper{
        background-color: rgba(255, 255, 255, 0) !important;
        color:#fff;
    }

    .indicator{
        background-color: #607d8b !important;
    }

</style>
{%endblock%}

{%block body%}

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ MEDIA_URL }}{{perfil.foto}}" style="width:100%"></div>
    <div class="container valign"><h2 class="page-title center-align">Modificar Perfil</h2></div>    
</div>
<div class="row">
<div class="col s9 offset-s1">
	<form class="form-horizontal" action="/modificarPerfil/{{usuario.id}}" method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    
    <div class="input-field ">
          <input placeholder="Ingrese nuevo Nickname" id="nick" type="text" class="validate">
          <label for="nick">Nickname: {{perfil.nick}}</label>
    </div>

     <div class="input-field ">
          <input placeholder="Formato(yyyy/mm/dd)" id="fecha" type="text"  onchange="verfecha()" class="validate">
          <label for="nick">Fecha de nacimiento : {{perfil.fecha}}</label>
          <span id="error" style="color:red;"></span>  
    </div>

    {{form.foto}}
    
    <div class="form-actions">
          <p>Ciudad actual : {{perfil.ciudad}}</p>
         <input id="searchTextField" type="text" size="50" placeholder="Ingrese la nueva ciudad" name="ciudad">
            <input type="hidden" value="" id="locality"/>
            <input type="hidden" value="" id="postal_code" name="postal_code"/>
            <input type="hidden" value="" id="administrative_area_level_1"/>
            <input type="hidden" value="" id="country"/>     
            <input type="hidden" value="{{user.id}}" id="iden"/>
 
        <input class="btn btn-primary" type="submit" id"bot"value="Guardar" name="name" />
        
    </div>
</div>
</div>



{%endblock%}



{% block  extra_body%}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript">


function verfecha(){
  fecha=document.getElementById('fecha').value;
    if (fecha == ""){
      document.getElementById("#bot").className = " btn btn-primary";
    } 
    else{
        var fech = fecha.split("/");
        console.log(fech.length)
        if (fech.length != 3){
           $("#error").html("La fecha ingresada no tiene el formato adecuado (yyyy/mm/dd)");
             document.getElementById("#bot").className += "disabled";
        }
        else if (fech[0].length < 4) {
          $("#error").html("La fecha ingresada no tiene el formato adecuado (yyyy/mm/dd)");
           document.getElementById("#bot").className += "disabled";
        }
        else{
           $("#error").html("");
        }
    }


}

    var placeSearch, autocomplete;
    var componentForm = {        
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };

    $(function() {
        var input = document.getElementById('searchTextField');        
        var options = {
          types: ['(cities)'],
          componentRestrictions: {country: 'ar'}
        };

        autocomplete = new google.maps.places.Autocomplete(input, options);        
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            fillInAddress();
            //$('#selected').text("Place selected:" +place.formatted_address)
        });

        function fillInAddress() {
          // Get the place details from the autocomplete object.
          var place = autocomplete.getPlace();

          for (var component in componentForm) {            
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
          }

          // Get each component of the address from the place details
          // and fill the corresponding field on the form.
          for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
              var val = place.address_components[i][componentForm[addressType]];
              console.log("val " + val + "addressType "+ addressType);
              if (val!="")
              {
                document.getElementById(addressType).value = val;  
              }                            
            }
          }
    }
    });
</script>
{%endblock%}