{%extends "base.html"%}

{%block titulo%}Error de activacion{%endblock%}

{%block menulist%}
<ul class="nav navbar-nav">
    <li >
        <a href="/">index</a>
    </li>
<ul/>
{%endblock%}


{%block contenido%}

<h1 class="brand-heading">Error</h1>
    <p class="intro-text">Para poder ingresar a la pagina debe activar su cuenta primero.
 <br>Ingrese a su cuenta de mail y siga los pasos indicados en el correo enviado.</p>
    <br>
    <a href="/login"><button class="btn btn-default btn-lg" href="">Ingresar</button></a>
{%endblock%}