{%extends "base.html"%}

{%block head_title%} Perfil {%endblock%}
{%block extra_head%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
    .page-title{
        color:#fff;
        font-size: 90px;        
        font-weight: 500;        
        text-shadow: 0px 0px 10px #393939; 
        text-transform: uppercase;   
    }

    .search-wrapper{
        width:70%;
        margin: 30px auto 0;
    }

    .parallax-container{
        background-color: rgba(0, 0, 0, 0.55);        
    }

    nav, .nav-wrapper{
        background-color: rgba(255, 255, 255, 0) !important;
        color:#fff;
    }

    .indicator{
        background-color: #607d8b !important;
    }
    .lugares{
        margin: 30px auto 60px;
  }

</style>
{%endblock%}



{%block body%}

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ MEDIA_URL }}{{perfil.foto}}" style="width:100%"></div>
    <div class="container valign"><h2 class="page-title center-align">{{perfil.usuario.first_name}} {{perfil.usuario.last_name}}</h2></div>    
</div>
	


<div class="row">
    <div class="col s12">
      <ul class="tabs" id="Tabs">
        <li class="tab col s3"><a class="blue-grey-text" href="#perfil">Perfil</a></li>
        <li class="tab col s3"><a class="blue-grey-text" href="#notificaciones">Notificaciones</a></li>
        <li class="tab col s3 disabled"><a class="blue-grey-text" href="#historial">Historial</a></li>
      </ul>
    </div>
    <div id="perfil" class="col s12">
		<div class="row">
			<div class="post-index z-depth-1">	
				<h5>{{usuario.first_name}} {{usuario.last_name}}</h5>
				<h6 class="fecha">Nick : {{perfil.nick}}</h6>
				<h6>Ciudad : {{perfil.ciudad.nombre}}</h6>
                <h6>Fecha de Nacimiento : {{perfil.nacimiento}}</h6>
				<span class="title">Descripción de {{usuario.first_name}} {{usuario.last_name}} -</span>
      					<p> <br>
      					</p>
			</div>	
				{%if user == usuario%}
					<a href="/modificarPerfil/{{user.id}}">modificar</a>
				{%else%}
					 <a href="/nuevoMensaje" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dejar un mensaje"> <i class="medium material-icons">question_answer</i></a>
        	

				{%endif%}
			</div>
    	</div>
    </div>	
    <div id="notificaciones" class="col s12">Test 2</div>
    <div id="historial" class="col s12">Test 3</div>
  </div>
	
{%endblock%}


{%block extra_body%}

<script type="text/javascript">
$(window).load(function(){
    
    $('.parallax').parallax(); 
    var hash = window.location.hash; 
    $('#Tabs a[href="#'+hash+'"]').tab('show');  
    $('.tooltipped').tooltip({delay: 50});
});

</script>
{%endblock%}


