{%extends "base.html"%}

{%block head_title%} Perfil {%endblock%}
{%block extra_head%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
    .page-title{
        color:#fff;
        font-size: 90px;        
        font-weight: 500;        
        text-shadow: 0px 0px 10px #393939; 
        text-transform: uppercase;   
    }

    .search-wrapper{
        width:70%;
        margin: 30px auto 0;
    }

    .parallax-container{
        background-color: rgba(0, 0, 0, 0.55);        
    }

    nav, .nav-wrapper{
        background-color: rgba(255, 255, 255, 0) !important;
        color:#fff;
    }

    .indicator{
        background-color: #607d8b !important;
    }
    .lugares{
        margin: 30px auto 60px;
  }

</style>
{%endblock%}



{%block body%}
<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ MEDIA_URL }}/bg-lugares3.jpg" style="width:100%"></div>
    <div class="container valign"><h2 class="page-title center-align">Perfil</h2></div>    
</div>



<div id="perfil" class="col s12 ">
    
        
        <h2 style="text-align:center;">Bienvenido a Tu perfil en NightAdvisor</h2>
    <div class="row">    
        <div class="col s10  offset-s1  ">
            <div class="post-index z-depth-1">  
                <h4 style="color:#26a69a;">Sincroniza tus cuentas</h4>
                <h5>Si ya tienes otra cuenta con un perfil creado, y quieres sincronizarla con tu cuenta actual, haz click en el siguiente boton.</h5>
                 <li><a class="btn tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Sincronizar Perfiles" href="#modalSync" onclick="" ><i class="small material-icons">group_work  </i></a></li>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="post-index z-depth-1">  
                <h4 style="color:#26a69a;">Crea un nuevo perfil</h4>    
                <h5>Si ésta es tu única cuenta, o quieres crear un perfil para dicha cuenta, haz click en el siguiente boton.</h5>
                  <li><a class="btn tooltipped " data-position="bottom" data-delay="50" data-tooltip="Crear Perfil" href="/procfileCreate"><i class="small material-icons">perm_identity </i></a></li>
            </div>  
        </div>
    </div>
</div>  

<div id="modalSync" class="modal">
    <div class="modal-content">
        <div class="input-field col s6">
          <input id="user" type="text" class="validate">
          <label for="first_name">Usuario/Email</label>
        </div>
        <span id="succes" style="color:green;"></span>
        <span id="error" style="color:red;"></span>
    </div>
    <div class="modal-footer">
      <a href="#!" onclick="sync()" class=" modal-action  waves-effect waves-green btn-flat">Sincronizar</a>
    </div>
  </div>

{%endblock%}


{% block extra_body %}   

<script>    
    $(document).ready(function(){
        $('.parallax').parallax(); 
        $('.modal-trigger').leanModal();           
    });       

function clean(){
  $("#error").html("");
}

function sync(){
    var user=document.getElementById("user").value
    

    $.ajax({
            url: '/procfileSync',
            data :{"user": user} ,
            type: "GET",
            success: function(data) {
                datos= JSON.parse(data);
                if(datos=="USUARIOFAIL"){
                    $("#error").html("El usuario ingresado no existe.");    
                }
                else{
                     $("#succes").html("Se envió un correo a la cuenta ingresada, revise su correo para poder finalizar la sincronizacion."); 
                    }


                console.log(datos);
            },
            failure: function(data) { 
                alert('Got an error dude');
            }
        });



}

</script>

{%endblock%}    
