{%extends "base-landing.html"%}

{%block header%}
    <div id="dummie"></div>
 {%endblock%}

{%block contenido%}
<div class="col-md-2"></div>

<div class="col-md-8">
    <form class="form-horizontal" action="/registrar/" method="POST">     
        {% csrf_token%}           
        {% for field in form %}
        {% if field.errors %}
        <div class="form-group error">
            <label class="control-label">{{ field.label }}</label> 
            <div class="controls">{{ field }}
                <span class="help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
        {% else %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label }}</label> 
            <div class="col-sm-10">{{ field }}
                {% if field.help_text %}
                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="form-actions">
		<span>{{error}}</span>
<br>
            <input class="btn btn-default btn-lg" type="submit" value="Registrarme" name="name" />    
        </div>

    </form>
</div>    
<div class="col-md-2"></div>

{%endblock%}

{%block scripts-especificos%}    
    <link rel="stylesheet" href="/static/bootstrap-yeti.min.css">    
{%endblock%}
