{%extends "base-landing.html"%}

{%block contenido%}
<div id="dummie"></div>
<div class="col-md-2"></div>
<div class="container col-md-8">
	<h1 class="brand-heading">Gracias por registrarse.</h1>
	<p class="intro-text">Para finalizar con el registro de usuario
		debe ingresar a su cuenta de correo <br>y seguir los pasos indicados.</p>
		<br>
		<a href="/login"><button class="btn btn-default btn-lg" href="">Ingresar</button></a>

	</div>
<div class="col-md-2"></div>

{%endblock%}

{% block scripts-especificos %}
	<link rel="stylesheet" href="/static/bootstrap-yeti.min.css">    
{% endblock%}