

<div class="container">
{%for r in resultados%}
	
	{%if r.tipo == "Bar"%}

	<a href="/DetalleEstablecimiento/{{r.object.id}}"><span class="fa-stack fa-lg">
  		<i class="fa fa-square-o fa-stack-2x " style="color:green"></i>
  		<i class="fa fa-beer fa-stack-1x" style="color:green"></i>
	</span></i>{{r.nombre}} |{{r.object.ciudad.nombre}}</a>
	{%elif r.tipo == "Restaurant"%}
	<a href="/DetalleEstablecimiento/{{r.object.id}}"><span class="fa-stack fa-lg">
  		<i class="fa fa-square-o fa-stack-2x " style="color:blue"></i>
  		<i class="fa fa-cutlery fa-stack-1x"style="color:blue"></i>
	</span></i>{{r.nombre}} |{{r.object.ciudad.nombre}}</a>

	{%elif r.tipo == "Pub"%}
	<a href="/DetalleEstablecimiento/{{r.object.id}}"><span class="fa-stack fa-lg">
  		<i class="fa fa-square-o fa-stack-2x " style="color:orange"></i>
  		<i class="fa fa-glass fa-stack-1x"style="color:orange"></i>
	</span></i>{{r.nombre}} |{{r.object.ciudad.nombre}}</a>
	{%elif r.tipo == "Boliche"%}
	<a href="/DetalleEstablecimiento/{{r.object.id}}"><span class="fa-stack fa-lg">
  		<i class="fa fa-square-o fa-stack-2x " style="color:red"></i>
  		<i class="fa fa-music fa-stack-1x"style="color:red"></i>
	</span></i>{{r.nombre}} |{{r.object.ciudad.nombre}}</a>
	
	{%elif r.object.tipo == "Review" %}
		<a href="/DetalleEstablecimiento/{{r.object.id}}"><span class="fa-stack fa-lg">
  		<i class="fa fa-square-o fa-stack-2x " style="color:red"></i>
  		<i class="fa fa-file-text-o fa-stack-1x"style="color:red"></i>
		</span></i>{{r.object.autor}} | {{r.texto}} </a>
	{%elif r.object.tipo == "Comentario"%}	
		<a href="/DetalleEstablecimiento/{{r.object.id}}"><span class="fa-stack fa-lg">
  		<i class="fa fa-square-o fa-stack-2x " style="color:red"></i>
  		<i class="fa fa-comments fa-stack-1x"style="color:red"></i>
  		</span></i>{{r.object.autor}} | {{r.texto}} </a>
	{%endif%}
	
	<hr>
	
{%endfor%}
</div>
