{% load staticfiles %}
{% load account %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block head_title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" media="screen, projection">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper z-depth-1 blue-grey darken-4">
        <div class="container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
          <a href="/" class="brand-logo">NAdvisor</a>  
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/miembros">Novedades</a></li>
            <li><a href="/Establecimientos2">Lugares</a></li>        
            {%if user.is_authenticated%}
            <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip=" Mi Perfil" href="/procfile"><i class="small material-icons"> recent_actors  </i></a></li>
            <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Salir" href="/accounts/logout"><i class="small material-icons"> lock  </i></a></li>
            {%endif%}
          </ul> 
          
          <!-- BARRA DE NAVEGACIón CELULAR -->  
          <ul class="side-nav" id="mobile-demo">
             <li><a href="/miembros">Novedades</a></li>

            <li><a href="/Establecimientos2">Lugares</a></li>      
            {%if user.is_authenticated%}
            <li><a href="/procfile">Perfil</a></li>     
            
            <li><a href="/accounts/logout">Logout</a></li>  
            {%endif%}
      </ul>   
        </div>
      </nav>
    </div>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {%block footer%}

     <footer class="page-footer"  style="background-color:#384952;">
          <div class="container" >
            <div class="row">
              <div class="col l6 s12">
                <span>Desarrolladores</span>
              </div>
            </div>
          </div>
          <div class="footer-copyright" style="background-color:#263238;">
            <div class="container">
            © 2015 Copyright Text
            <a class="grey-text text-lighten-4 right" href="mailto:nightadvisorteam@gmail.com">Contacto</a>
            </div>
          </div>
        </footer>
            

    {%endblock%}

    <!--JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <script type="text/javascript">
      $( document ).ready(function(){ $(".button-collapse").sideNav();});
       
     $('.tooltipped').tooltip({delay: 50});
      </script>
    {% block extra_body %}
    
    {% endblock %}
  </body>
  </html>