<div class="input-field col s6">
	<input id="buscador" type="text">
	<label for="buscador">Buscar</label>
</div>   
<ul role="menu" class="dropdown-menu" id = "bajo">
</ul> 


<!--
<ul class="nav nav-stacked" id="sidebar">	
	    <input type="text" class ="form-control searchInput" id="Busqueda" placeholder="Buscar Establecimientos" data-toggle="">	    	
    <br>
	
    <ul role="menu" class="dropdown-menu" id = "bajo">
    </ul> 
</ul> -->

 