{% extends 'base.html'%}
{% load staticfiles%}
{% block head_title %}Novedades{% endblock %}
{% block extra_head %} 
<link type="text/css" rel="stylesheet" href="{% static "css/core/home.css" %}">
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col s12 m8 l8">
			{% for item in Interacciones %}
			<div class="post-index z-depth-1">	
				<img class="circle profile-img" src="{{ MEDIA_URL }}{{item.autor.perfil.foto}}"/>
				<h5><a href="/DetalleEstablecimiento/{{item.Establecimiento.id}}">{{item.Establecimiento.nombre}}: {{item.titulo}}</a></h5>
				<h6 class="fecha">{{item.fecha}}</h6>
				<div class="puntaje">
				{% if item.puntaje == 1 %}
                            <i class="fa fa-beer"></i>
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% elif item.puntaje == 2 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i>   
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>                    
                            {% elif item.puntaje == 3 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% elif item.puntaje == 4 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer dis"></i>
                            {% elif item.puntaje == 5 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i>                        
                            {% else %}
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% endif %}       
				</div>				
				<p>{{item.texto}}</p>					
			</div>
			
			{%endfor%}

		</div>
		<div class="col s12 m4 l4">		
			<div class="widget-item z-depth-1">
				<b>Lugares</b>
				<div>
					<ul class="collection">				
						<a href="/Establecimientos2#MejoresPuntuados" class="collection-item">Mejores puntuados</a>		
						{% for tipo in TiposEst %}
						<a href="/Establecimientos2#{{tipo.tipo}}" class="collection-item">{{tipo.tipo}}<span class="badge">{{tipo.cantidad}}</span></a>
						{% endfor%}
					</ul>		      					      		
				</div>
			</div>
<!-- =========================================Busqueda ====================================-->
			<div class="widget-item z-depth-1">
				<b>Busqueda</b>
				<div>
					<input type="text" class ="form-control searchInput" id="Busqueda" placeholder="Buscar Establecimientos" data-toggle="">	      					      		
				</div>
			</div>
<!-- ===================Botones para Compartir ==============================================-->
			
        


			<div class="widget-item z-depth-1">
				<b>Comparte NightAdvisor</b>
				  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Compartir</a>

  <!-- Dropdown Structure -->
  			<ul id='dropdown1' class='dropdown-content'>
    			<li><a href="#!" style="background-color:#64b5f6;" onclick="facebookWall()">Compartir<i class="fa fa-facebook-square"></i></a>
    			</li>
    			<li>
    				<a style="background-color:#64b5f6;"  href="#!" id="btnInvitarFace">Invitar<i class="fa fa-facebook-square"></i></a>
    			</li>
    			<li class="divider">	
    			</li>
    			<li>
    				<a href="#!" style="background-color:#80deea;"  onclick="tweet()">Compartir<i class="fa fa-twitter-square"></i></a> 
    			</li>
    			<li>
    				<a style="background-color:#80deea;"  href="#Invitar" id="btnInvitar">Invitar<i class="fa fa-twitter-square"></i></a> 
    			</li>
  			</ul>

			</div>
<!-- ===========================================================================================-->
		</div>
		<!--<div class="col s12 m4 l4">		
			<div class="widget-item z-depth-1">
				<b>Últimos vistos</b>
				<div>
					<ul class="collection">						
						{% for item in Historial %}
						<a href="#" class="collection-item">{{tipo.tipo}}<span class="badge">{{tipo.cantidad}}</span></a>
						{% endfor%}
					</ul>		      					      		
				</div>
			</div>
		</div> -->
	</div>
	

<!-- ======================Modal Tweeter Followers ==============================================-->
  <div id="Invitar" class="modal bottom-sheet" style="display: block; opacity: 1; bottom: 0px;">
    <div class="modal-content" id="modalFollow">
       
    </div>
   
  </div>
<!-- ======================Modal Tweeter Followers ==============================================-->
     

</div>
{%endblock%}

{% block extra_body %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.materialboxed').materialbox();
		$('#Invitar').closeModal();
	});

// ========================Todos Scripts para Twitter y Face====================
	
//========================Invitar Twitter=============================================
	$("#btnInvitar").click(function(){
		$.ajax({
        url:"/followers/",
        type :'get',
       success: function(data){
       		try{ datos = JSON.parse(data);
       			if(datos = "False"){
       			Materialize.toast('Necesitas estar logueado con Twitter', 5000,'rounded');
       			}
       		}
       		catch(err){
       			$('#Invitar').openModal();
       			$("#modalFollow").html(data);
       		}	
        },
        failure:function(data){
        },  
   });

	});

	//setInterval(function(){ Materialize.toast('New Post', 4000) }, 7000);



function personalMessage(datos){
	identificador= datos;
	var boton = "send"+datos;
	console.log(datos);
	
	$.ajax({
        url:"/messageTwitter/",
        data:{
        	"Id":identificador,
    	},
        type :'get',
       success: function(data){
       		document.getElementById(boton).className = "btn-floating disabled right";
			document.getElementById(boton).onclick="";
        },
        failure:function(data){
        },  
   });


}

function tweet(){
	$.ajax({
        url:"/postTweet/",
        data:{"Tipo": "Principal",
        	"Id":"0"
    	},
        type :'get',
       success: function(data){
       	dato= JSON.parse(data)
       		if (dato == "False"){
       			Materialize.toast('Necesitas estar logueado con Twitter', 5000,'rounded');
       		}
       			else{
       				Materialize.toast('Gracias por twittear Nadv!!!', 5000, 'rounded')
       			}
       		console.log(data);
       		
        },
        failure:function(data){
        },  
   });
}


//==========================Invitar Facebook===========================
$("#btnInvitarFace").click(function(){
		$.ajax({
        url:"/faceFriends/",
        type :'get',
       success: function(data){
       		try{ datos = JSON.parse(data);
       			if(datos == "False"){
       			Materialize.toast('Necesitas estar logueado con Facebook', 5000,'rounded');
       			}
       		}
       		catch(err){
       			$('#Invitar').openModal();
       			$("#modalFollow").html(data);
       		}	
        },
        failure:function(data){
        },  
   		});

	});

function faceMessage(usuario){
  $.ajax({
        url:"/faceMessage/",
        type :'get',
        data : {"id":usuario},
       success: function(data){
          try{ datos = JSON.parse(data);
            if(datos == "False"){
            Materialize.toast('Necesitas estar logueado con Facebook', 5000,'rounded');
            }
          }
          catch(err){
            $('#Invitar').openModal();
            $("#modalFollow").html(data);
          } 
        },
        failure:function(data){
        },  
      });




}
//==========================Postear Muro =========================================

function facebookWall(){
	console.log("Funcion")
	$.ajax({
        url:"/faceWall/",
        type :'get',
       success: function(data){
       		dato=JSON.parse(data)
       		if (dato == "False"){
       		Materialize.toast('Necesitas estar logueado con Facebook', 5000, 'rounded')	
       		}else{
       			Materialize.toast('Gracias por compartir Nadv!!!', 5000, 'rounded')
       		}    		
        },
        failure:function(data){
        },  
   });

}
//=======================================================================================
$("#Busqueda").keyup(function(){
    var datos =document.getElementById("Busqueda").value;
    if (datos== ""){
        $("#Resultados").hide();
    } 
    else{
         Materialize.showStaggeredList('#Resultados')
    }

  $.ajax({
        url:"/searchEstablecimiento/",
        data:{"datos": datos},
        type :'get',
       success: function(data){
       		console.log(data);
            $("#Resultados").html(data);
            $("#Resultados").dropdown();

        },
        failure:function(data){

        },  
   });

});


</script>

{%endblock%}