
{% load staticfiles %}

{% load account %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Night Advisor</title>        
    <meta name="description" content="Sitio de reviews de bares y boliches">
    <meta name="keywords" content="bares, boliches, reviews, noche, salidas">
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" media="screen">
         <!-- Favicons
         ================================================== -->
         <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
         <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
         <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
         <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
         
         <!-- Bootstrap -->
         <link rel="stylesheet" type="text/css"  href="{% static "css/bootstrap.css" %}">
         <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}">
         

        <!-- Stylesheet
        ================================================== -->
        <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->    
      </head>
      <body>   
        <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Night Advisor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% block nav-links %}
                    {% endblock%}   
                    {% if user and not user.is_anonymous %}
                    <li><a href="/perfil/{{user.id}}">{{ user.get_full_name|default:user.username }}</a></li>
                    <li><a href="/accounts/logout">Logout</a></li>   
                    <!-- Verificar que el usuario tenga permiso de moderador-->
                    {% for group in user.groups.all %}
                    {% if group.name == 'Moderador' %}
                    <li>
                        <a href="/denuncias/vacio">Denuncias</a>
                    </li>
                    {% endif %}
                    {% endfor %}


                    {%if user.is_superuser%}
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    {%endif%}    
                    {%else%}                                                    
                    <li><a href="/accounts/login/">Login</a></li>
                    <li><a href="/accounts/signup/">Registro</a></li>                        
                    {%endif%}
                    <li><a href="/Establecimientos2/">Lugares</a></li>  

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    

        <!-- Home Page
        ==========================================-->
        <div id="tf-home" class="text-center">
            <div class="overlay">
                <div class="content">
                    <h1 style="font-size:6rem;">Bienvenidos a <strong><span class="color">Night Advisor</span></strong></h1>
                    <p class="lead">Compart&iacute; lo mejor y lo peor de <strong>tus noches</strong>. Puntu&aacute; bares y boliches y <strong>encontr&aacute; tu salida perfecta</strong></p>
                    <p>
                        <div class="col-md-6 buscador">
                            <ul class="nav nav-stacked" id="sidebar">   
                                <input type="text" class ="form-control searchInput" id="Busqueda" placeholder="Buscar Establecimientos" data-toggle="">            
                                <br>
                                
                                <ul role="menu" class="dropdown-menu" id = "bajo">
                                </ul> 
                            </ul> 
                        </div>                          
                    </p>
                    <a href="#tf-services" class="fa fa-angle-down page-scroll"></a>
                </div>
            </div>
        </div>
        
    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>¿C&oacute;mo <strong>funciona?</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Night Advisor es una plataforma que te brinda la posibilidad de crear una review sobre lugares de salidas. Para ello, s&oacute;lo ten&eacute;s que seguir estos sencillos pasos.</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-search"></i>
                    <h4><strong>Encontr&aacute; el lugar</strong></h4>
                    <p>Busc&aacute; en los establecimientos cargados el que est&aacute;s buscando. Si no est&aacute;, te damos la posibilidad de crearlo vos mismo/a!</p>
                </div>

                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-comment"></i>
                    <h4><strong>Comentalo</strong></h4>
                    <p>Hac&eacute; conocer tu experiencia con una descripci&oacute;n y luego dale un puntaje para cuantificarla, del 1 al 5.</p>
                </div>

                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-check"></i>
                    <h4><strong>Listo!</strong></h4>
                    <p>Tu interacci&oacute;n ya qued&oacute; registrada. Ahora pod&eacute;s entrar a la secci&oacute;n del lugar y mirar tu review</p>
                </div>                
            </div>
        </div>
    </div>

    <!-- Video Section
    ==========================================-->

    <!--WORKS / PORTFOLIO SECTION END  -->
    <div id="video-sec" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Fh5lDQDvIhw',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false, optimizeDisplay: true, showYTLogo: false}">
        <!-- change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url-->
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>ASEGUR&Aacute; TU DIVERSI&Oacute;N</h1>
                        <h4>Encontr&aacute; la noche que <strong>est&aacute; esperando por vos</strong>

                        </h4>                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- VIDEO SECTION END-->

    
    <!-- Ranking Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Lugares <strong>mejor puntuados</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Resumen del ranking de lugares. Te mostramos los mejores 5</em></small>
            </div>
            <div class="space"></div>            
            <div class="col-md-12 listado">
                {%for establecimiento in Establecimientos%}                
                <div class="row linea">                    
                    <div class="col-md-4">                         
                        <img src="/media/{{establecimiento.foto}}" alt="" class="img-responsive img-thumbnail">                        
                    </div>                        
                    <div class="col-md-4">
                        <div class="contenido datos">
                            <h4>
                                {%if user.is_authenticated%}
                                <a href="DetalleEstablecimiento/{{establecimiento.id}}">{{establecimiento.nombre}}</a>
                                {%else%}
                                {{establecimiento.nombre}}
                                {%endif%}
                            </h4>                            
                            <h4>
                             Localidad : {{establecimiento.ciudad}}
                         </h4>                         
                     </div>                           
                 </div>
                 <div class="col-md-4">
                     <div class="contenido puntaje">
                         <h5>
                            {% if establecimiento.calcular_puntaje == 1 %}
                            <i class="fa fa-beer"></i>
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% elif establecimiento.calcular_puntaje == 2 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i>   
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>                    
                            {% elif establecimiento.calcular_puntaje == 3 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% elif establecimiento.calcular_puntaje == 4 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer dis"></i>
                            {% elif establecimiento.calcular_puntaje == 5 %}
                            <i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i><i class="fa fa-beer"></i>                        
                            {% else %}
                            <i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i><i class="fa fa-beer dis"></i>
                            {% endif %}                            
                        </h5>
                    </div>                        
                </div>
            </div>                            
            {%endfor%}
        </div>        

    </div>
</div>

    <!-- Testimonials Section
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Lo que opinan</strong> nuestros usuarios</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <h5>Night Advisor me parece una muy buena propuesta, algo distinto para 
                                    tener en cuenta al momento de elegir donde salir.</h5>
                                    <p><strong>Juan Rodr&iacute;guez</strong></p>
                                </div>

                                <div class="item">
                                    <h5>Excelente forma de conocer opiniones sobre lugares a los que quiz&aacute;s nunca hubiera ido sin tener una recomendaci&oacute;n previa.</h5>
                                    <p><strong>Marcos Gonz&aacute;lez</strong></p>
                                </div>

                                <div class="item">
                                    <h5>Night Advisor nos brinda una muy buena oportunidad para poder compartir nuestras experiencias y encontrar m&aacute;s diversi&oacute;n al momento de salir</h5>
                                    <p><strong>Pablo P&eacute;rez</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>No dudes en <strong>contactarnos</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em>Ten&eacute;s alguna duda? Alguna sugerencia? Contactanos completando este formulario y enseguida estaremos atendiendo tu solicitud</em></small>            
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mensaje</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Enviar</button>
                    </form>

                </div>
            </div>

        </div>
    </div>    

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>    

    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <!-- OWL CAROUSEL  -->
    <script src="{% static "js/owl.carousel.js" %}"></script>
    <!-- BACKGROUND VIDEO PLUGIN  -->
    <script src="{% static "js/jquery.mb.YTPlayer.js" %}"></script>   
    <!-- JS para modal login  -->
    <script src="{% static "js/index.js" %}"></script>


    <!--=========================Script para la busqueda========================-->
    <script type="text/javascript">

        $("#Busqueda").keyup(function(){
            var datos =document.getElementById("Busqueda").value;
            if (datos== ""){
                $("#Resultados").hide();
            } 
            else{
                $("#Resultados").show();  
            }

            $.ajax({
                url:"/searchEstablecimiento/",
                data:{"datos": datos},
                type :'get',
                success: function(data){
                    $("#bajo").html(data);

                },
                failure:function(data){

                },  
            });

        });


    </script>
</body>
</html>
