body, html
{
	background-color: #EDEDED !important;
}

nav
{
	margin-bottom: 30px;
}

.post-index
{
	background-color: white;
	margin-bottom: 30px;
}

.post-index h5
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 2px;
	margin: 0px;
}

.post-index h6
{
	opacity: 0.7;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.post-index p
{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.widget-item
{
	background-color: white;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.widget-item b
{
	display: block;
	margin-bottom: 15px;
}

.widget-item .row, .widget-item .input-field, .widget-item .col
{
	margin: 0px; 
	padding: 0px;
}

.widget-item .btn
{
	margin: 0px; 
}

footer
{
	padding-top: 0px;
}

.profile-img{
	width:50px;
	height: 50px;
	float:left;
	margin:15px;
}

.puntaje{
	display: inline-block;
	margin-left: 15px;
}

.puntaje i.fa{
	height: 20px;
	width: 17px;
	border: 0;
	font-size: 14px;
	padding: 2px;
	border-radius: 50%;
	color: #FCAC45;
}

.puntaje i.dis{
  color: #e0e0e0;
}

h6.fecha{
	display: inline-block;
  	padding: 0;
}
